In [4]:
import numpy as np
import pandas as pd

In [10]:
np.array([[1,2],[1,2]])

array([[1, 2],
       [1, 2]])

In [28]:
df = pd.DataFrame(np.array([[np.nan,1,2,np.nan, 5],[np.nan,1,2,np.nan, np.nan],[1, np.nan,np.nan,np.nan, 5],[np.nan, np.nan,np.nan,np.nan, np.nan]]))
df

     0    1    2   3    4
0  NaN  1.0  2.0 NaN  5.0
1  NaN  1.0  2.0 NaN  NaN
2  1.0  NaN  NaN NaN  5.0
3  NaN  NaN  NaN NaN  NaN

In [33]:
df.interpolate(method='krogh',limit_direction='both',axis=1)

     0    1    2         3    4
0  NaN  1.0  2.0  3.333333  5.0
1  NaN  1.0  2.0  3.000000  4.0
2  1.0  2.0  3.0  4.000000  5.0
3  NaN  NaN  NaN       NaN  NaN

# parsing from web

In [62]:
df_co2 = pd.read_csv('ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt', 
                     delim_whitespace=True, 
                     engine='python',
                     skiprows=72,
                     names = ['decimal date', 'average', 'interpolated', 'trend']
                    )

In [78]:
df_co2.index[1]

(1958, 4, 1958.2920000000001)