# EPA1333 - Computer Engineering for Scientific Computing
## Week 6 - Oct 10, 2017

**Python Data Science Handbook**

*Jake VanderPlas*

In [ ]:
from IPython.core.display import Image
Image('https://covers.oreillystatic.com/images/0636920034919/lrg.jpg')

### Cheat Sheets

[Mark Graph](http://markthegraph.blogspot.nl/) has created some cheat sheets for Python, Matplotlib and Pandas. You can download them from here: http://bit.ly/python_cs

## Pandas

Build on top of NumPy. It provides high-level data structures and manipulation tools 
for data analysis. 

  * Labeled axes
  * Arithmetic operations and reductions
  * Flexible handling of missing data
  * Time Series

The main datastructures are: **Series** and **DataFrame**



### Documentation
  * http://pandas.pydata.org/
  * http://pandas.pydata.org/pandas-docs/stable/10min.html
  
  * Google

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import random

## Series

A one-dimensional array-like object and an index.

s = Series( [1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

#### Creating a Series

In [ ]:
# With a list. Explicitly providing the index
s = pd.Series( [1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
s

In [ ]:
# With a numpy array.
s = pd.Series( np.random.randn(5) )
s

In [ ]:
# With a dict
cities = { 'Amsterdam' : 1000, 'Utrecht' : 2000, 'The Hague' : 3000, 'Rotterdam' : 4000}
s = pd.Series( cities )
s

In [ ]:
# Name the index and the series
s.name = 'Code'
s.index.name = 'Cities'
s

### Accessing Series

In [ ]:
# Accessing the index
s.index

In [ ]:
# Accessing the values
s.values

In [ ]:
# indexing on position. Result is a value.
s[1]

In [ ]:
# slicing on position. Result is another Series
s[1:3]

In [ ]:
# indexing on label (index)
s['Rotterdam']

In [ ]:
# Slicing on label
# Note, when slicing on label the slice is INCLUDING the end.
s[:'Rotterdam']

In [ ]:
# Be careful when label is integers too... 
s2 = pd.Series( range(5), index=[3,2,4,0,1])
s2

In [ ]:
# This will select the label, not the position
s2[1]

In [ ]:
# Slicing will select on position!
s2[1:3]

In [ ]:
# Fancy indexing
s[ ['Utrecht', 'Amsterdam'] ]

In [ ]:
# Check for values
s.isin([1000, 1500, 2500, 3000, 'Monkey'])

In [ ]:
# Check for index 
'Utrecht' in s, 'Maastricht' in s

### Filtering and Functions

In [ ]:
# Filtering and NumPy universal functions work as aspected
s[ s >= 2500 ]

In [ ]:
s * 2.5

In [ ]:
np.log( s )

In [ ]:
# Count the values in a Series
s2 = pd.Series( np.random.randint(10, size=100) )
s2.value_counts( sort=False )

In [ ]:
# Unique values only
s2 = pd.Series( ['a','b','c','a','d','b','g','d','g','g','c','e'])
s2.unique()

### NaN values

NaN values (Not a Number) represent missing values or NA values in the Pandas library.

In [ ]:
s2 = pd.Series( [ 1500, 500, np.nan, 10], index=['Maastricht', 'Groningen', 'Assen', 'Haarlem'])
s2

In [ ]:
# Check for NaN values 
pd.isnull(s2) 

#s2.isnull()    # As an object method also works

#pd.notnull(s2)

### Assignment

In [ ]:
# Change a value
s2['Haarlem'] = 3500
s2

In [ ]:
# Add a new value
s2['Utrecht'] = 222
s2['Amsterdam'] = 333
s2['Rotterdam'] = 444
s2

In [ ]:
# Addition is done based on index. NaN if no matching index found.
s + s2

## DataFrame

A DataFrame is a table/spreadsheet with rows and columns that can contain different types of data.

### Creation

In [ ]:
# Using a matrix
df = pd.DataFrame( np.random.random( size=(3,4) ), 
                      columns=list("ABCD"), 
                      index=['first', 'second','third'] )
df

In [ ]:
# Using a dictionary
d = { 'A' : range(30,37,3),
      'B' : np.random.random(3),
      'C' : [ random.random() for _ in range(3) ],
      'D' : ['John', 'Mary', 'Jane']
    }
df = pd.DataFrame( d, index=['first','second','third'] )
df

In [ ]:
# Generic info
df.info()

In [ ]:
# Statistics on the numerical data
df.describe()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values


### Accessing

In [ ]:
# Selecting column, result is Series
df['B']

In [ ]:
# Alternative, result is Series
df.B

In [ ]:
# Fancy indexing, result is dataframe
df[ ['D','B'] ]

#df[ ['B'] ]

In [ ]:
# Selecting rows, result is series
df.ix[1]

In [ ]:
# slicing, result is dataframe
df.ix[ 1:2 ]

In [ ]:
# Selecting elements [row, column]
df.ix[1,2]

In [ ]:
# With slicing
df.ix[1:3, :3 ]

In [ ]:
# Fancy indexing, using positions
# Warning: watch out if labels are integers too! 
# Use df.iloc and df.loc to use positions or labels explicitly.
# df.ix does a smart guess, but prioritizes labels.
df.ix[:2, [3,0,2]]

In [ ]:
# Fancy indexing, using labels!
df.ix[ :'second', ['D', 'A', 'C'] ]

### Filtering

In [ ]:
# Let's print df again
df

In [ ]:
# Selecting values. Not matching values are replaced by NaN
df[df < 0.5]

In [ ]:
# Selecting rows based on a Series of booleans
df[ df.D == 'Mary']

### Assignment

In [ ]:
# Changing values
df.ix['first','A'] = 28
df

In [ ]:
# Adding a new column
df['E'] = 500
df['F'] = np.sqrt(df['A'])
df['G'] = df['B'] / df['C']
df

In [ ]:
# Reindexing a dataframe with ix
# Change the order of the index / columns and add new ones
df.ix[ ['third','first','second','fourth'], ['D','E','A','H','F','B','C','G']]

In [ ]:
# Dropping entries. Drop a row
df.drop(['second'], axis=0)

In [ ]:
# Drop a column (or 2)
df.drop( ['B','F'], axis=1)

### Arithmetic

NumPy universal functions still work as expected. Aggregation as well.

In [ ]:
df1 = pd.DataFrame( np.arange(9).reshape(3,3), columns=list("abc"),
                  index=["John","Mary","Peter"])
df2 = pd.DataFrame( np.arange(12).reshape(4,3), columns=list("acd"),
                  index=["Anne", "John", "Mary", "Zach"])

In [ ]:
df1

In [ ]:
df2

In [ ]:
# Addition matches both index and column, NaN for all other index, column combinations
df1 + df2

In [ ]:
# Addition with fill-values
# Only if value is not in df1 and df2 will NaN appear.
df1.add(df2, fill_value=100)

In [ ]:
# Universal functions, element wise

np.sqrt(df2)

In [ ]:
# Aggregation, sum per column
df2.sum()

In [ ]:
# sum per row
df2.sum(axis=1)

In [ ]:
# Cumulative sums
df2.cumsum(axis=0)

Other functions that are available include:
  * count - count non-NA values
  * min/max
  * argmin, argmax - location of min/max value (Series)
  * idxmin, idxmax - index values of min/max (DataFrame)
  * sum, mean, var, std
  * cumsum, cumprod, cummin, cummax - cumulative

## Sorting and Rank

Sorting can be done on rows (index) and columns.

  * sort_index
  * sort_values

In [ ]:
df

In [ ]:
# Sort rows
df.sort_index(ascending=False)

In [ ]:
# Sort rows, based on the values in a column
df.sort_values( by='B', ascending=True )

In [ ]:
# Sort columns
df.sort_index(ascending=False, axis=1)

In [ ]:
# Sorting series on index
s = pd.Series( np.random.randint( 10, size=5) )
s

In [ ]:
s.sort_index( ascending=False )

In [ ]:
# Sorting the values of the Series
s.sort_values()

In [ ]:
# Ranking values
# method = average, first, min, max 
s.rank(method='average')

In [ ]:
# Ranking in a dataframe
# First drop column D as it contains strings.
df.drop('D', axis=1).rank(method='first', axis=1)

### Handling missing data

Missing data is represented as NaN. There are ways to detect and deal with these
values.
  * isnull() / notnull() - test for NaN
  * dropna() - leave out NaN
  * fillna() - replace NaN with a value

In [ ]:
from numpy import NaN as NA

d = pd.Series( [1, NA, 3.5, NA, 7])

d.dropna()

In [ ]:
d[d.notnull()]

In [ ]:
# dropna on dataframes drops entire rows/columns
df = pd.DataFrame( np.random.rand(3,4) )
df.ix[:,2] = NA
df.ix[0,2:] = NA
df.ix[2,0] = NA
df

In [ ]:
# Drop entire row/column (axis) / how="all" or "any"
df.dropna(axis=1, how="all")

In [ ]:
# Filling in data

df.fillna( 1000 )

In [ ]:
# Or fill in with data from the dataframe
# Fill data per row or column (axis) 
# and forward / backward fill (method)
df.fillna( axis=1, method="ffill")

In [ ]:
# Use a mean value (of each column)
df.fillna(df.mean())

In [ ]:
df

## Data Reading / Writing

There are easy ways to read/write dataframes. Read the manual for all the possible
arguments that you can provide to easy parsing the data.

  * read_csv
  * read_excel
  * read_clipboard
  
  * to_csv
  * to_excel
  * to_clipboard

In [ ]:
# On Linux/Msc: !cat 'csv_example.csv'
!type csv_example.csv

In [ ]:
# Also supports URLs directly.
df = pd.read_csv('csv_example.csv', delimiter=',', skipinitialspace=True)
df

In [ ]:
# Handy if you copy from the web
pd.read_clipboard(sep=",")

In [ ]:
df.to_csv()

## Data Wrangling (Ch 7)

Combining and merging data sets

  * merge
  * concat

In [ ]:
city_names = ['Amsterdam','Utrecht','Haarlem','Maastricht',
              'Rotterdam','Groningen','Assen','The Hague']
province_names = ['NH','UT','NH','LI','ZH','GR','DR','ZH']


cities = pd.DataFrame( { 'City':city_names, 'Province':province_names })
cities

In [ ]:
df2 = pd.DataFrame( {'Name':['Alice', 'Steven', 'Karen'],
                     'City':['Haarlem','Assen','Rotterdam'],
                     'Age':[23,33,40]}, columns=["Name","City","Age"])
df2

In [ ]:
# Concat will concatenate 2 dataframes
# Watch the index!
people = pd.concat( [df,df2], ignore_index=True, axis=0)
people

Merge will combine 2 dataframes by combining rows from both dataframes if they match
on a certain column value (or set of column values).

What happens to rows in either dataframe if no matching row is found depends on the "how" argument:
  * inner: only rows that match will be in the result (default)
  * outer: rows in either dataframe that don't match are also included in the result (with NaN)
  * left: rows in the left dataframe that don't match are also included in the result
  * right: rows in the right dataframe that don't match are also included in the result

In [ ]:
# We can combine people and cities... merge
# on - what columns should match?
# how - what should be done with non-matching entries? (left, right, outer, inner)
pd.merge( people, cities, on="City", how="outer" )

## Plotting (Ch 8)

matplotlib can create plots. However, Series and DataFrames provide shortcuts
to calling matplotlib.

  * Series.plot
  * Dataframe.plot
  
Any arguments are passed through to matplotlib.

In [ ]:
s = pd.Series( np.random.rand(10).cumsum() )
s.index.name="X-Axis-label"
s.plot(kind="line", title="Series Plot", label="line", legend=True )

In [ ]:
df = pd.DataFrame( np.random.randn(10,4).cumsum(axis=0), columns=list("ABCD"),
    index=np.arange(0,100,10))
df.index.name="Index Name"
df.columns.name="Column Names"
df

In [ ]:
df.plot(kind="line", style="-o", title="DataFrame Plot")

## Example: students and grades again

In [ ]:
# students and their studnr
names=['John','Mary','Jane','Anne','Peter','Bob','Carol','Zach','David','Iris','Sarah','Charlie','Eve','George']
studnr=np.random.randint(100000, 999999, size=(len(names)))

student = pd.DataFrame( {'Name':names, 'Studnr':studnr })

In [ ]:
student

In [ ]:
# Function to generate a set of grades
def gen_grades( ids, nrgrades, course ):
    # Generate a list of indexes of ids for which we generate grades
    ids_index = np.random.choice(len(ids), size=nrgrades, replace=False )

    # Find the corresponding studnr
    chosen_ids = ids[ ids_index ]

    # Generate some grades for the exam and retake
    grades=[ float("%.1f" % g) for g in np.random.rand(nrgrades)*6 + 4 ]

    grade_table = pd.DataFrame( {'Studnr':chosen_ids, 'Course':course, 'Grade': grades }, 
                    columns=['Studnr', 'Course', 'Grade'])

    return grade_table

In [ ]:
# Generate 4 test grade results for three courses
all_grades = []

for course in ['EPA101', 'EPA202', 'EPA303']:
    for test in ['Test1','Test2','Test3','Test4']:
        grades = gen_grades( studnr, 12, course)
        grades.columns = ['Studnr','Course', test]
    
        all_grades.append(grades)

In [ ]:
len(all_grades)

In [ ]:
all_grades[0]

In [ ]:
# Merge the test results of all courses into one DataFrame
all_grades[0].merge(all_grades[1],how="outer").\
    merge(all_grades[2],how="outer").\
    merge(all_grades[3],how="outer")

In [ ]:
# Let's do them all
grades_per_course = []

for i in range(0,9,4):
    g = all_grades[i].merge(all_grades[i+1],how="outer").\
        merge(all_grades[i+2],how="outer").\
        merge(all_grades[i+3],how="outer")
    grades_per_course.append(g)

In [ ]:
len(grades_per_course)

In [ ]:
grades_per_course[0]

In [ ]:
# Now append them all together (concatenate)
result = pd.concat( grades_per_course, ignore_index=True)
result.tail(10)

In [ ]:
result[result.Course=='EPA101']

In [ ]:
# Merge the 2 student names and grades together
grades=pd.merge(student,result,how="left")
grades.tail(10)

In [ ]:
# Add a column with the mean of the tests
grades['Final'] = grades.ix[:,'Test1':'Test4'].mean(axis=1)
grades.head(10)

In [ ]:
# Create extra columne 'Passed'
grades['Passed'] = np.where( grades['Final']>=5.8, True, False)
grades.head(10)

In [ ]:
# How many passed/failed?
pd.value_counts(grades['Passed'])

In [ ]:
grades['Final'].mean()

In [ ]:
grades['Final'].plot()